* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/*header and  styles*/
.banner-content {
    text-align: right;

}

.header-banner {
    background-image: url('/images/banner/banner2.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 150px;
    background-position: bottom right, left top;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
}

.banner-discription {
    font-weight: 400;
    font-size: 16px;
    margin: 24px 0 32px;
}

.btn-primary {
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding: 13px 25px;
    border-radius: 8px;
    background-color: #FD6E0A;
}

.attention {
    display: flex;
    gap: 87px;
    align-items: center;
    margin: 130px 0 130px 206px;

}

.attention-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    ;
}

.section-description {
    font-size: 18px;
    color: #444343;
    margin: 24px 0 16px;
}

.about-info {

    font-weight: 400;
    font-size: 16px;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

/*  my plan section */
.my-plans {
    margin: 0 230px 130px;
}

.section-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.plan-container {

    text-align: center;
    display: flex;
    gap: 86px;
    align-items: center;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.plant-start {
    display: center;
}

/* call now section */
.call-now {
    background-image: url('/images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 230px 130px;
    border-radius: 8px;
}

.content {
    padding: 60px 0 60px 60px;
}

.overlay {
    background-image: linear-gradient(to right, #F15B22, rgba(0, 0, 0, .5));
    border-radius: 8px;
}

.caller-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.btn-primary2 {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #fff;
    border: none;
}

/*contact styles*/
.contact {
    width: 1600px;
    height: 577px;
    display: flex;
    gap: 100px;
    background-color: #151414;
    padding: 130px 200px;
    color: white;

}

.contact-title {
    font-weight: 700;
    font-size: 45px;
}

.contact-discription {
    font-weight: 400;
    font-size: 16px;
}

input {
    padding: 18px 0 18px 30px;
    box-sizing: border-box;
}

.icon {
    text-decoration: none;
    margin: 32px 0 130px;

}

.contact1 {
    width: 485px;
    height: 317px;

}

.contact2 {
    width: 325px;
    height: 204px;

}